/* portfolio style sheet */

* {
    box-sizing: border-box;
}

header {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background: #ffffff;
    height: 100px;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    height: 100px;
    position: absolute;
    margin: 0 auto;
    margin-right: 10px;
    top: 20px;
    right: 17%;
}
  
li {
    display: inline;
    padding-left: 15px;
}
  
a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 3;
    color: #777777;
  }

h1 {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 16.5%;
    width: 200px;
    height: 100px;
    color: #ffffff;
    background: #4aaaa5;
    text-align: center;
    padding-top: 33px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: 0 auto;
    color: #4aaaa5;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-image: url(../images/tweed_@2X.png);
    z-index: 0;
}

p {
    font-size: 14px;
    line-height: 24px;
}

img {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 200px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background: #ffffff;
    width: 960px;
    text-align: left;
    line-height: 30px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

footer {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

.footer-1 {
    position: absolute;
    background: #4aaaa5;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    top: -20px;  
    z-index: 1;
}

.footer-2 {
    position: absolute;
    background: #666666;
    color: #ffffff;
    font-size: 12px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 49px;
    top: 0;
    z-index: 2;
}